/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0082c9;
  /*
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
*/
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {

/*  --ifm-background-color: #0082c9;
  --ifm-background-surface-color: #0082c9;
*/
}

html[data-theme='light'] footer {
  background-color: #0082c9;
}

html[data-theme='light'] footer a:hover {
  color: #fff;
}

html h1,h2,h3,h4,h5,h6 {
  color: #0082c9;
  font-family: 'Forza';
  font-weight: 500;
}

html ul.theme-doc-sidebar-menu {
  font-family: 'Forza';
  font-weight: 500;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.6rem;
}

html a.navbar__brand{
  font-family: 'Forza';
  font-weight: bold;
  color: #0082c9;
  font-size:22px;
}

 html .footer__bottom a{
  opacity:1;
  transition:none;
  
}

html .footer__copyright{
  margin-top: 25px;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-Black.eot');
  src: local('Forza Black'), local('Forza-Black'),
      url('/fonts/Forza/Forza-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-Black.woff') format('woff'),
      url('/fonts/Forza/Forza-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Forza Book';
  src: url('/fonts/Forza/Forza-Book.eot');
  src: local('Forza Book'), local('Forza-Book'),
      url('/fonts/Forza/Forza-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-Book.woff') format('woff'),
      url('/fonts/Forza/Forza-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-MediumItalic.eot');
  src: local('Forza Medium Italic'), local('Forza-MediumItalic'),
      url('/fonts/Forza/Forza-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-MediumItalic.woff') format('woff'),
      url('/fonts/Forza/Forza-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-Medium.eot');
  src: local('Forza Medium'), local('Forza-Medium'),
      url('/fonts/Forza/Forza-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-Medium.woff') format('woff'),
      url('/fonts/Forza/Forza-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-Light.eot');
  src: local('Forza Light'), local('Forza-Light'),
      url('/fonts/Forza/Forza-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-Light.woff') format('woff'),
      url('/fonts/Forza/Forza-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-Bold.eot');
  src: local('Forza Bold'), local('Forza-Bold'),
      url('/fonts/Forza/Forza-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-Bold.woff') format('woff'),
      url('/fonts/Forza/Forza-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-LightItalic.eot');
  src: local('Forza Light Italic'), local('Forza-LightItalic'),
      url('/fonts/Forza/Forza-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-LightItalic.woff') format('woff'),
      url('/fonts/Forza/Forza-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Forza Book';
  src: url('/fonts/Forza/Forza-BookItalic.eot');
  src: local('Forza Book Italic'), local('Forza-BookItalic'),
      url('/fonts/Forza/Forza-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-BookItalic.woff') format('woff'),
      url('/fonts/Forza/Forza-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-BlackItalic.eot');
  src: local('Forza Black Italic'), local('Forza-BlackItalic'),
      url('/fonts/Forza/Forza-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-BlackItalic.woff') format('woff'),
      url('/fonts/Forza/Forza-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Forza';
  src: url('/fonts/Forza/Forza-BoldItalic.eot');
  src: local('Forza Bold Italic'), local('Forza-BoldItalic'),
      url('/fonts/Forza/Forza-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Forza/Forza-BoldItalic.woff') format('woff'),
      url('/fonts/Forza/Forza-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

